cython
git+https://github.com/cocodataset/cocoapi.git#subdirectory=PythonAPI&egg=pycocotools
submitit~=1.5.1
torch>=1.5.0
torchvision>=0.6.0
git+https://github.com/cocodataset/panopticapi.git#egg=panopticapi
scipy~=1.11.4
onnx
onnxruntime~=1.17.1

numpy~=1.24.1
packaging~=24.0
pandas~=2.2.1
seaborn~=0.13.2
matplotlib~=3.8.3
pillow~=10.2.0
django~=4.1
opencv-python~=4.9.0.80
requests~=2.31.0
urllib3~=2.2.1
minio~=7.1.0
flask~=2.2.5
pyyaml~=6.0.1